<ion-header>
  <ion-toolbar>
    <ion-title>Grid 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" class="full-height"></ion-button>
      </ion-col>
      <ion-col class="no-padding">
        <ion-row>
          <ion-col>
            <ion-button expand="full"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full"></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full"></ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>