<ion-header>
  <ion-toolbar>
    <ion-title>Grid 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>